@charset "UTF-8";
* {
  font-family: 微軟正黑體;
  letter-spacing: 3px; }

i {
  font-size: 30px;
  cursor: pointer; }

a {
  color: black;
  text-decoration: none !important;
  font-size: 25px;
  font-family: 微軟正黑體;
  font-weight: bold;
  margin-left: 0.5vw; }

.headshot {
  width: 10vw;
  height: 10vw;
  border-radius: 50%; }

.name {
  font-size: 32px;
  font-weight: 200; }

.switch-wrapper {
  position: relative; }

.switch-wrapper > div {
  position: absolute;
  width: 100%;
  height: 100%; }

.article {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }
  .article .pic {
    width: 30%;
    height: 30vh;
    background-size: cover;
    margin-top: 2vh; }
    .article .pic .cover {
      width: 100%;
      height: 100%;
      background-color: black;
      opacity: 0;
      transition: 0.5s;
      display: flex;
      justify-content: space-evenly;
      align-items: center; }
      .article .pic .cover:hover {
        cursor: pointer;
        opacity: 0.7; }

.search {
  color: rgba(0, 0, 0, 0.4);
  border: solid 1px rgba(0, 0, 0, 0.2);
  border-radius: 5px; }
  .search input {
    letter-spacing: 0 !important;
    font-size: 18px; }

.searchModal {
  position: relative;
  top: 30px;
  right: 239px;
  z-index: 1;
  width: 0; }
  .searchModal .arrow {
    background: white;
    position: relative;
    height: 18px;
    transform: rotate(45deg);
    width: 18px;
    top: 9px;
    left: 116px;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.0975); }
  .searchModal .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 250px;
    max-height: 350px;
    min-height: 50px;
    background-color: white;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.0975);
    border-radius: 3px;
    overflow-y: auto; }

.searchUser {
  width: 100%;
  min-height: 60px;
  display: flex;
  align-items: center;
  border-bottom: solid 1px rgba(0, 0, 0, 0.1);
  padding-left: 1vw;
  transition: 0.5s;
  cursor: pointer; }
  .searchUser .searchAvatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 1vw; }
  .searchUser:hover {
    background-color: #eee; }

<<<<<<< HEAD
.show {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .show .image {
    background-size: cover;
    width: 50vw;
    height: 30vw; }
  .show .submit {
    width: 15vw;
    background-color: #ef5b56;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 3vh;
    font-weight: bold;
    font-size: 20px; }
=======
.showImage {
  width: 100%;
  height: 25vw;
  background-size: cover;
  background-position: center; }

.postBtn {
  padding: 10px;
  width: 20%;
  background-image: linear-gradient(-45deg, #FFC796 0%, #FF6B95 100%);
  border-radius: 5px;
  font-size: 20px; }

.sk-spinner-wandering-cubes.sk-spinner {
  margin: 0 auto;
  width: 32px;
  height: 32px;
  position: relative; }

.sk-spinner-wandering-cubes .sk-cube1 {
  background-color: #1ab394;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: sk-wanderingCubeMove 1.8s infinite ease-in-out;
  animation: sk-wanderingCubeMove 1.8s infinite ease-in-out; }

.sk-spinner-wandering-cubes .sk-cube2 {
  background-color: #1ab394;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: sk-wanderingCubeMove 1.8s infinite ease-in-out;
  animation: sk-wanderingCubeMove 1.8s infinite ease-in-out;
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s; }

@-webkit-keyframes sk-wanderingCubeMove {
  25% {
    -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
    transform: translateX(42px) rotate(-90deg) scale(0.5); }
  50% {
    -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
    transform: translateX(42px) translateY(42px) rotate(-179deg); }
  50.1% {
    -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
    transform: translateX(42px) translateY(42px) rotate(-180deg); }
  75% {
    -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5); }
  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg); } }

@keyframes sk-wanderingCubeMove {
  25% {
    -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
    transform: translateX(42px) rotate(-90deg) scale(0.5); }
  50% {
    /* Hack to make FF rotate in the right direction */
    -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
    transform: translateX(42px) translateY(42px) rotate(-179deg); }
  50.1% {
    -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
    transform: translateX(42px) translateY(42px) rotate(-180deg); }
  75% {
    -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5); }
  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg); } }
>>>>>>> develop
